:root{
    --var-bg-color: #f5f5f5;
    --var-accent-color: rgb(24, 133, 216);
    --var-button-hover: rgb(23, 95, 150);
    --var-width: 400px;
    --var-list-accent: rgb(24, 133, 216, 0.05);
}

body{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--var-width);
    margin-inline: auto;
    background-color: var(--var-bg-color);
    padding: 10px;
    min-height: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

h1{
    margin: 0;
    font-size: 1.5em;
}

input{
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
}

#exists{
    margin: 0;
    color: grey;
    font-size: 14px;
    font-style: italic;
    display: none;
}

button{
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--var-accent-color);
    color: #E8F9FD;
    transition: background-color 200ms ease;
}

button:hover{
    background-color: var(--var-button-hover);
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    gap: 5px;
    align-items: center;
    overflow-wrap: break-word;
}

li:hover{
    background-color: var(--var-list-accent);
}

a{
    text-decoration: none;
    color: black;
    overflow: hidden;
}

.tabTitle{
    font-weight: bold;
}

.tabUrl{
    text-decoration: underline;
}

.listBtnContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.listButtons{
    padding: 0;
    background-color: transparent;
    color: grey;
    font-weight: 100;
    text-align: right;
}

.listButtons:hover{
    text-decoration: underline;
    background-color: transparent;
}

#resetContainer{
    text-align: center;
}

#reset{
    padding: 0;
    color: black;
    background-color: transparent;
    font-weight: normal;
    margin-inline: auto;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

#reset:hover{
    color: blue;
}
